[
    {
        "user": "example",
        "token": "TOKEN",
        "email": "email@email.com",
        "path": "/home/example/repositories/github",
        "type": "GITHUB",
        "url": "github.com",
        "enabled": true
    },
    {
        "user": "example",
        "token": "TOKEN2",
        "email": "email@email.com",
        "path": "/home/example/repositories/bitbucket",
        "type": "BITBUCKET",
        "enabled": false
    }
]